[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
faker = "*"
alembic = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9.5"
